
<div class="dog-card" (click)=toggle()>
<h2>{{dog().name}}</h2>
  @switch (dog().breed){
    @case ('Golden Retriever') { <p>Golden Retriever</p> }
    @case ('Boxer') {  <p>Boxer</p> }
    @case ('Border Collie') { <p>Border Collie</p> }
    @case ('Maltese') { <p>Maltese</p> }
    @case ('Poodle') { <p>Poodle</p> }
    @case ('Portuguese Water Dog') { <p>Portuguese Water Dog</p> }
    @default { <p>Sorry! This dog's breed has not been identified.</p> }
  }

  @if (dog().isHypoallergenic) {
    <p>This is a Hypoallergenic Breed!</p>
  } @else {
    <p>This is not a Hypoallergenic Breed.</p>
  }
  @if (expanded){
  <p>{{dog().furType}}</p>
  }
</div>


